/* CARRITO */
.carrito-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  padding-top: 8rem;
}

/* Contenedor de productos */
#lista-carrito {
  display: flex;
  flex-direction: column;
}

/* Encabezados de tabla */
.carrito-header {
  display: grid;
  grid-template-columns: 10px 1.28fr 1fr 1fr 1fr 35px;
  padding: 0.5rem 0;
  border-bottom: 2px solid #ddd;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 60;
  color: #4e4e4e;
  font-family: 'Poppins', sans-serif;
}

/* Fila de producto */
.carrito-item {
  display: grid;
  grid-template-columns: 80px 0.2fr 2.2fr 0.4fr 1.8fr 40px;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
  font-size: 0.95rem;
}

/* Imagen del producto */
.carrito-item img {
  width: 80px;
  height: auto;
}

/* Nombre del producto */
.info-producto {
  display: flex;
  flex-direction: column;
}

.info-producto h3 {
  font-size: 1rem;
  margin: 0;
  font-weight: 500;
}

/* Precio unitario */
.precio-unitario {
  text-align: center;
  color: #333;
}

/* Cantidad (input) */
.input-cantidad {
  width: 60px;
  padding: 6px;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-cantidad::-webkit-inner-spin-button,
.input-cantidad::-webkit-outer-spin-button {
  opacity: 1;
  cursor: pointer;
}

/* Subtotal */
.subtotal {
  font-weight: 600;
  color: #333;
  text-align: center;
}

/* Botón eliminar producto */
.eliminar-producto {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #999;
  transition: color 0.2s ease;
}

.eliminar-producto:hover {
  color: black;
}

.carrito-resumen {
  background-color: #fafafa;
  padding: 1.5rem;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  height: fit-content;
  margin-top: 12rem;
  font-family: 'Poppins', sans-serif;
  font-size: 0.95rem;
}

.titulo-resumen {
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: #333;
}

.linea-resumen,
.linea-total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
}

.linea-total {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 1.2rem;
}

.codigo-cupon {
  background: none;
  border: none;
  color: #4e7ee2;
  font-size: 0.9rem;
  cursor: pointer;
  text-align: left;
  padding: 0;
  margin-bottom: 1rem;
  font-weight: 500;
}

.codigo-cupon:hover {
  text-decoration: underline;
}

.boton-catalogo {
  margin-top: 1rem;
  background-color: #5d725b;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 400;
  width: 100%;
  transition: background 0.3s ease;
}

.boton-catalogo:hover {
  background-color: #475943;
}

/* MODAL CUPÓN */
.modal-cupon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: 'Poppins', sans-serif;
}

.modal-contenido {
  background-color: white;
  margin: 10% auto;
  padding: 2rem;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  height: 200px;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modal-contenido h2{
  font-weight: 400;
}

.cerrar-modal {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.formulario-cupon {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.formulario-cupon input {
  flex: 1;
  padding: 0.5rem;
  border: 1.5px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  color: gray;
}

.formulario-cupon input:focus {
  outline: none;
  border-color: #587154;
}

.formulario-cupon button {
  background-color: #5d725b;
  color: white;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 60;
}

.formulario-cupon button:hover {
  background-color: #475943;
}

.mensaje-error {
  margin-top: 1rem;
  color: red;
  font-size: 0.85rem;
  display: none;
}